/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('//fonts.googleapis.com/css?family=Alegreya+Sans:100,300,500,900|Roboto:300,300i,500');

/*Infrastructure*/
body, #page-wrapper, #menu-bar, #columns.clearfix {
	background-color: #312f2f;
}


/* TYPOGRAPHY*/

/* overrides site title */
	/* #boxes-box-site_info a {
	 color:#991122;
	 font-family:helvetica,serif;
	} */
#boxes-box-site_info a {
	color: #ECCF19;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 100;
	font-size: 90px;
}
/* overrides nav link text */
	/* #menu-bar ul.nice-menu .menuparent ul li a,#menu-bar ul.nice-menu a {
		font-family:helvetica,serif;
		font-size:14px;
		color:#303030;
		padding:5px 17px;
		} */
#menu-bar ul.nice-menu .menuparent ul li a,#menu-bar ul.nice-menu a {
	font-family: 'Alegreya Sans', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: .4em;
	padding: 0 2em;
}
/* overrides nav link cells */
	/* #menu-bar ul li a {
	 padding:.5em 1.38em;
	 background:#FFF;
	 color:#444;
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size:12px;
	 margin-right:1px;
	} */
#menu-bar ul li a {
	padding:.5em 1.38em;
	background:transparent;
	color:#444;
	text-decoration:none;
	text-transform:lowercase;
	font-size:12px;
	margin:0; /*spacing between nav links*/
	border-bottom: 1.5px solid;
}

/* overrides nav link hover state*/
	/* #menu-bar ul.nice-menu .menuparent.over > a,#menu-bar ul.nice-menu .menuparent a:hover,#menu-bar ul.nice-menu a:hover {
	 background:#106599;
	 color:#FFF;
	} */
#menu-bar ul.nice-menu .menuparent.over > a,#menu-bar ul.nice-menu .menuparent a:hover,#menu-bar ul.nice-menu a:hover {
 background:transparent;
 color:#ECCF19;
}
/* overrides nav link active state*/
	/* #menu-bar ul.nice-menu a.active,#menu-bar ul.nice-menu .menuparent a.active {
	 background:#ECE7E7;
	 color:#333;
	} */
#menu-bar ul.nice-menu a.active,#menu-bar ul.nice-menu .menuparent a.active {
	background:transparent;
	color:#F7A80E;
}

/* overrides menu bar */
	/* #menu-bar {
	 background:#FFF;
	 padding:0 10px 0 0;
	 border-bottom:5px solid #ECE7E7;
	} */
#menu-bar {
 padding:20px 0px 0px 0px;
 border-bottom:0px;
}

p, #main-content{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #FFF;
}

p>a, #content a {
	color:#ECCF19 !important;
	font-weight: 500;
	text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Alegreya Sans', sans-serif;
}

h1#page-title {
	font-family: 'Alegreya Sans', sans-serif;
	color: #F7A80E;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: .4em;
}

#main-content{
	padding: 0;
}

h2, .sidebar .content h2{
	font-weight: 500;
	color: #F7A80E;
}

h3, h4, h5{
	font-weight: 100;
	color: #FFF;
}

#columns.clearfix{
	padding-top: 0;
}

.biblio-separator-bar{
	font-weight: 500;
	color: #F7A80E;
	background:none !important;
	background-color: #F7A80E;
	border-bottom:1.5px solid #F7A80E !important;
	margin:3em 0 0 0;
	padding:0;
}

.biblio-entry a {
	color: #ECCF19;
	letter-spacing: 0.025em;
}

a.biblio-abstract-link.toggle {
	font-style: italic;
}

a.biblio-abstract-link.toggle {
	background:url(../images/abstract-expand.svg);
	background-repeat: no-repeat;
	padding-left: 16px;
}

a.biblio-abstract-link.toggle.expanded {
	background:url(../images/abstract-close.svg);
	background-repeat: no-repeat;
	padding-left: 16px;
}


.biblio-abstract-display {
	background-color: transparent;
	margin-top: 10px;
	border: 2px dotted #CACACA;
  color: #CACACA;
	font-style: italic;
}

.ctools-dropdown {
}


/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
	}
